.container {
  background: url("../../public/hangmanBg.png");
  background-size: cover;
  position: relative;
  max-width: 580px;
  height: 400px;
  margin: 0.5rem 0 0.5rem 0;
  flex-basis: 100%;
  padding: 40px;
}

.hangman {
  position: relative;
  right: 180px;
}

.hangman__noose {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  right: 150px;
}

.hangman__gallows__right {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 50px;
}

.hangman__gallows__left {
  height: 100%;
  width: 10px;
  background: black;
  margin-left: 50px;
}

@media (min-width: 48rem) {
  .container {
    flex-grow: 1;
    flex-basis: 70%;
    margin: 0.5rem 4rem 0.5rem 0;
  }

  .hangman__noose {
    right: 220px;
  }

  .hangman__gallows__left,
  .hangman__gallows__right {
    margin-left: 120px;
  }
}

@media (max-width: 56rem) {
  .container {
    height: 400px;
    max-width: 440px;
  }

  .hangman {
    right: 110px;
  }
}

@media (max-width: 31rem) {
  .container {
    max-width: 100%;
  }

  .hangman {
    right: 75px;
  }

  .hangman__gallows__right {
    max-width: 190px;
  }

  .hangman__noose {
    right: 115px;
  }
}

@media (min-width: 48rem) and (max-width: 56rem){
  .hangman__noose {
    right: 150px;
  }
}