.container {
  text-align: center;
  overflow-x: auto;
}

table {
  padding-top: 1rem;
  border-spacing: 0.31rem;
}

table thead {
  vertical-align: baseline;
}

@media (min-width: 48rem) {
  table {
    border-spacing: 0.62rem;
  }
}
