.container {
  text-align: center;
  margin: 0.5rem 0;
}

.loading,
.error {
  flex-basis: 100%;
  text-align: center;
}

.quote__letters__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.quote__char {
  margin-left: 3px;
  display: flex;
  width: 15px;
  height: 20px;
  border-bottom: 2px solid black;
}

.quote__not__char {
  margin-left: 3px;
  display: flex;
  width: 15px;
  height: 20px;
  border-bottom: none;
  margin-bottom: -3px;
}

@media (min-width: 48rem) {
  .container {
    padding-top: 2rem;
  }
}
