.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__container {
  & p {
    font-size: 1.125rem;
  }

  & h1 {
    font-size: 2.25rem;
  }
}

.img__container {
  background: url("../../public/hangmanBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.name__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  & input {
    margin-bottom: 10px;
  }
}

.hangman__vector {
  mix-blend-mode: multiply;
  opacity: 0; 
  transition: opacity .7s ease-in-out; 
  transition-delay: .7s;
}

.hangman__vector.visible {
  opacity: 1;
}

@media (min-width: 35rem) {
  .name__form {
    flex-direction: row;

    & input {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 64rem) {
  .container {
    flex-direction: row;
    text-align: left;
  }

  .form__container {
    margin-right: 2.2rem;
  }

  .name__form {
    justify-content: flex-start;
  }

  .img__container {
    padding: 30px;
    height: 350px;
    width: 550px;
    margin-top: 0;
  }
}

